body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    margin: 0%;
}
.test{
    height: 570%;
    padding-bottom: 150px;
    display: flex;

}
.test > img{
    width: 80%;

}
.flex{
    width: 50%;
    padding-left: 2%;
    margin-left: 2%;
}
h1{
    font-size: 60px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.664);
}
h1 span{
    color: orange;

}
.link-st{
    text-decoration: none;
    background-image: linear-gradient(orange , Salmon);
    color: white;
    padding: 9px 11px;
    border-radius: 12px;
    font-weight: 100px;

}
#margin{
    margin-top: 10%;
}
.marginup{
    margin-bottom: 10%;
    
}
.bg{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 1440px 600px;
}
.half{
    width: 50%;

}
.img{
    width: 380px;
    height: 536px;
    margin-left: 15%;
    margin-top: 65px;

}
#newp{
    margin-left: 25%;
}
#marginb{margin-bottom: 10px;
}
.senter{
    text-align: center;
}
.flexi{
    border:10px solid;
    margin: 2%;
    padding: 20px;
    border-radius: 40px;
    border-color: white;
    background-color: white;
    filter: drop-shadow(0px 0px 0.75rem rgb(145, 140, 140));
    margin-left: 2%;

}
.nflex{
    display: flex;
    width: 1239px;
    height: 528px;
    margin-left: 8px;

}
.imgs{
    width: 337px;
    height: 256px;

}
#redious{
    border-radius: 15px;
}
p{
    color: rgba(0, 0, 0, 0.664);
}
.follower{
    border:10px solid;
    display: flex ;
    width: 1239px;
    height: 226px;
    border-radius: 40px;
    border-color: white;
    background-color: white;
    filter: drop-shadow(0px 0px 0.75rem rgb(145, 140, 140));
    margin-left: 45px;
    margin-top: 10%;
}
.mar{
    margin-left: 10%;
    width: 350px;
    height: 98px;

}
.footer{
    width: 1440px ;
    height: 256px ;
    border: 1px solid black;
    background-color: black;
    color: rgb(187, 186, 186);
    margin-top: 15%;
    text-align: center;

}
#marginu{
    margin-top: 5%;

}
.clr{
    color:orange;
}
.netc{
    color: rgb(187, 186, 186);
}
#footc{
    color:rgb(187, 186, 186) ;
}
.subs{
    font-size: 17px; font-weight: bold; text-transform:uppercase; background-color: #490e6f; color:#fff;" 
    box-sizing: border-box;
    margin-bottom: 50px;
    width: 50%;
    padding: 14px 7px;
}
.br{
    margin-top: 2%;
    box-sizing: border-box;
    margin-bottom: 50px;
    width: 50%;
    padding: 14px 7px;
}
.nflexi{
    display: flex;
    height: 650px;
    width: 1200px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 6% ;
    border:10px solid;
    border-radius: 40px;
    background-color: white;
    border-color: white;
    filter: drop-shadow(0px 0px 0.75rem rgb(145, 140, 140));
    margin-top: 10%;
    
}
.left{
    margin-left: 10%;
}
.lefti{
    margin-left: 8%;
}
.clrl{
    color: #490e6f;